# YouTube API
youtube.api_key=YOUR_YOUTUBE_API_KEY

# Reddit API
reddit.client_id=YOUR_REDDIT_CLIENT_ID
reddit.client_secret=YOUR_REDDIT_CLIENT_SECRET
reddit.username=YOUR_REDDIT_USERNAME
reddit.password=YOUR_REDDIT_PASSWORD

# Instagram API
instagram.access_token=YOUR_INSTAGRAM_ACCESS_TOKEN
instagram.business_id=YOUR_INSTAGRAM_BUSINESS_ID

# X/Twitter API
x.access_token=YOUR_X_ACCESS_TOKEN

# Apify (used by InstagramApifyService / RedditApifyService)
apify.api_token=YOUR_APIFY_API_TOKEN

# Database
db.url=jdbc:postgresql://localhost:5432/aura
db.user=postgres
db.password=postgres
